/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# copied with different extension, to be compiled
src/Thirty_Three/core.cljs
src/Thirty_Three/combinatorics_library.cljs

# compiled
thirty-three.js
