/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

# copies with different extension created by build script, to be compiled
src/Thirty_Three/foundation.cljs
src/Thirty_Three/combinatorics_library.cljs

# compiled
thirty-three.js
