body {
  background-color:#E0F0E0;
}

#title {
  font-size: 33px; /* obligatory */
  margin-bottom: 0px;
}

h4 { margin:0px; }

.level {
  margin: 5px;
  display: inline-block;
}

.row {
  font-size: 25px;
}

.tile {
  width: 33px;
  height: 33px;
  display: inline-block;
}

.legend {
  margin-top: 10px;
  font-size: 80%;
  padding-left: 5px;
  padding-right: 5px;
  width: 150px;
  background-color: #FAFFC7;
  display: inline-block;
  vertical-align: top;
}

.key {
  font-family: Sans-Serif;
  padding: 5px;
  color: #ffffff;
}

.available .key {
  background-color: #000000;
}

.unavailable .key {
  background-color: #A0A0A0;
}

.unavailable .label {
  color: #909090;
}

[data-value="_"] {
  background-color: #E0C0E0;
}
