[data-value="1"] {
    color: #ffffff;
    background-color:#5050A0;
}

[data-value="2"] {
    color: #ffffff;
    background-color:#705090;
}

[data-value="3"] {
    color: #ffffff;
    background-color:#905080;
}

[data-value="4"] {
    color: #ffffff;
    background-color:#A55575;
}

[data-value="5"] {
    color: #ffffff;
    background-color:#C55565;
}

